<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

		<context:component-scan base-package="com.passwordValidate.*" />

		<bean id="lengthRule" class="com.passwordValidate.Rule.LengthRule" >
			<constructor-arg name="regex" value="[1-9][0-9]{4,11}" />
			<constructor-arg name="message" value="Must be between 5 and 12 characters in length." />
		</bean>
		
		<bean id="charRule" class="com.passwordValidate.Rule.CharRule">
			<constructor-arg name="regex" value="^(?=.*[0-9])(?=.*[a-z])([a-z0-9]+)$" />
			<constructor-arg name="message" value="Must consist of a mixture of lowercase letters and numerical digits only, with at least one of each." />
		</bean>
		
		<bean id="sequenceRule" class="com.passwordValidate.Rule.SequenceRule">
			<constructor-arg name="regex" value="(\\w{1,})\\1" />
			<constructor-arg name="message" value="Must not contain any sequence of characters immediately followed by the same sequence." />
		</bean>
		
		<bean id="ruleList" class="java.util.ArrayList">
			<constructor-arg>
				<list>
					<ref bean="lengthRule"/>
					<ref bean="charRule"/>
					<ref bean="sequenceRule"/>
				</list>
			</constructor-arg>
		</bean>


</beans>
